<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin - Tickets</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
</head>

<body>
    <header>
        <nav th:replace="~{navbar :: navbar('Tickets')}"></nav>
    </header>

    <div class="container">
        <div class="content">
            <h1 class="my-3">Elenco tickets</h1>

            <a th:href="@{/admin/tickets/create}" class="btn btn-success mb-3">Crea Nuovo Ticket</a>

            <table class="table table-dark table-striped" th:if="${listaTickets.size()} > 0">
                <thead>
                    <tr>
                        <th scope="col">Titolo</th>
                        <th scope="col">Data creazione</th>
                        <th scope="col">Operatore assegnato</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${listaTickets}">
                        <td th:text="${ticket.titolo}"></td>
                        <td th:text="${#temporals.format(ticket.dataCreazione, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${ticket.operatore.nomeCompleto}"></td>
                        <td th:text="${ticket.stato}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm">Dettagli</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-info" th:unless="${listaTickets.size()} > 0">
                Nessun ticket presente nel database.
            </div>

        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>