<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio ticket</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
</head>

<body>
    <header>
        <nav th:replace="~{navbar :: navbar('Tickets')}"></nav>
    </header>

    <div class="container" th:object="${ticket}">
        <div class="content">
            <h1 class="my-3" th:text="|Dettaglio ticket: *{titolo}|"></h1>
            <div class="row">
                <div class="col-6">
                    <h4>Informazioni principali</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Data creazione:</strong> <span
                                th:text="${#temporals.format(ticket.dataCreazione, 'dd/MM/yyyy HH:mm')}"></span></li>
                        <li class="list-group-item"><strong>Operatore assegnato:</strong> <span
                                th:text="*{operatore.nomeCompleto}"></span></li>
                        <li class="list-group-item"><strong>Stato:</strong> <span th:text="*{stato}"></span></li>
                    </ul>
                </div>
            </div>

            <a th:href="@{/admin/tickets/edit/{id}(id=${ticket.id})}" class="btn btn-warning mt-3">
                Modifica
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
            </a>

            <hr class="my-4">

            <div>
                <h3>Note aggiuntive</h3>
                <div th:if="*{getNote.size() > 0}">
                    <div th:each="nota : *{note}" class="card mb-3">
                        <div class="card-body">
                            <p class="card-text" th:text="${nota.testo}"></p>
                        </div>
                        <div class="card-footer text-muted">
                            Aggiunta da <strong th:text="${nota.autore.nomeCompleto}"></strong> il <span
                                th:text="${#temporals.format(nota.dataCreazione, 'dd/MM/yyyy HH:mm')}"></span>
                        </div>
                    </div>
                </div>

                <div th:unless="*{getNote.size() > 0}" class="alert alert-secondary mt-3">Nessuna nota presente</div>

                <form th:action="@{/admin/note/store/{ticketId}(ticketId=*{id})}" method="POST">
                    <div class="mb-3">
                        <textarea name="testo" id="testoNota" class="form-control" rows="3"
                            placeholder="Scrivi la tua nota..."></textarea>
                    </div>
                    <div class=" mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">
                            Aggiungi nota
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </button>
                </form>


                <a th:href="@{/admin/tickets}" class="btn btn-primary">
                    Torna alla lista
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                        <path fill-rule="evenodd"
                            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>