<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <nav th:fragment="navbar(current)" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">TicketPlatform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/tickets}"
                            th:classAppend="${current == 'Tickets'} ? 'active'">
                            Admin Dashboard
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="hasAuthority('OPERATORE')">
                        <a class="nav-link" th:href="@{/operatore/tickets}"
                            th:classAppend="${current == 'Tickets'} ? 'active'">
                            I miei Ticket
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('OPERATORE')">
                        <a class="nav-link" th:href="@{/operatore/tickets/profilo}"
                            th:classAppend="${current == 'Profilo'} ? 'active'">
                            Profilo
                        </a>
                    </li>
                </ul>
            </div>

            <div class="text-white" sec:authorize="isAuthenticated()">
                Benvenuto, <strong sec:authentication="name"></strong>
                <a class="btn btn-outline-light ms-3" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
</body>

</html>